
.catagoris img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #0000;
    border-radius: 10px;
}
#subcribe{
    background-color: #F7F7F7 !important;
    height: 300px;
    border-radius: 10px;
}

.card{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    border: 0 !important;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.3);
    
}